<header>
  <div class="header-left">
    <button class="menu-toggle">☰</button>

    <a class="home-btn" id="homeLink" [routerLink]="''">
      <img src="images/logo.png" alt="Logo">
    </a>
  </div>

  <section>
    <nav>
      <ul class="nav-bar">
        <li><a [routerLink]="['/language-teachers', 1]">Python</a></li>
        <li><a [routerLink]="['/language-teachers', 2]">Java</a></li>
        <li><a [routerLink]="['/language-teachers', 3]">C</a></li>
        <li><a [routerLink]="['/language-teachers', 4]">Assembly</a></li>
      </ul>
    </nav>
  </section>

  <div class="profile" id="profileDropdown">
    <a href="#" id="profileLink" class="profile-link">
      <img src="images/perfil.jpg" alt="perfil" id="headerProfileImg">
    </a>
    <span class="username" id="headerUsername">Invitado</span>

    <div class="dropdown-menu" id="dropdownMenu">
      <a href="../pages/profile.html" id="profileLinkMenu">Mi Perfil</a>
      <a href="#" id="logoutBtn">Cerrar Sesión</a>
    </div>
  </div>
</header>
