<header>
  <div class="header-left">
    <button class="menu-toggle">☰</button>

    <a class="home-btn" id="homeLink" [routerLink]="''">
      <img src="images/logo.png" alt="Logo">
    </a>
  </div>

  <section>
    <nav>
      <ul class="nav-bar">
        <li><a [routerLink]="['/language-teachers', 1]">Python</a></li>
        <li><a [routerLink]="['/language-teachers', 2]">Java</a></li>
        <li><a [routerLink]="['/language-teachers', 3]">C</a></li>
        <li><a [routerLink]="['/language-teachers', 4]">Assembly</a></li>
      </ul>
    </nav>
  </section>

  <div class="profile" (click)="toggleDropdown()">
    <img src="images/perfil.jpg" alt="perfil">
    <span class="username">{{ authService.authState().fullName ?? 'Invitado' }}</span>

    @if (dropdownVisible()) {
      <div class="dropdown-menu">
        @if (authService.authState().loggedIn) {
          <a routerLink="/profile" (click)="dropdownVisible.set(false)">Mi Perfil</a>
          <a (click)="logout()">Cerrar Sesión</a>
        } @else {
          <a routerLink="/sign-in" (click)="dropdownVisible.set(false)">Iniciar Sesión</a>
          <a routerLink="/sign-up" (click)="dropdownVisible.set(false)">Registrarse</a>
        }
      </div>
    }
  </div>
</header>
