<app-header></app-header>

<ion-content class="teachers-page">

  <div class="introduction">
    <h1 class="introduction-title">
      {{ language()?.name }}
    </h1>

    <p class="language-introduction">
      {{ language()?.introduction }}
    </p>
  </div>

  <ion-list class="professors-list">
    @for (professor of filteredProfessors(); track professor.id) {

    <app-teacher-detail-card
      [id]="professor.id"
      [image_src]="professor.image"
      [image_alt]="professor.name"
      [name]="professor.name"
      [info]="professor.info">
    </app-teacher-detail-card>

    }
  </ion-list>

  <app-footer></app-footer>

</ion-content>

