ion-content {
  /* Fondo claro y texto general a oscuro */
  --background: #f5f5f5;
  --color: #333333;
}

.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding-top: 40px;
  font-family: Arial, sans-serif;

  h1 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #222222;
  }
}

.logo {
  height: 150px;
  width: auto;
  border-radius: 10px;
  margin-bottom: 30px;
}

.formulario {
  width: 100%;
}

.transparent-list {
  background: transparent;
}

.custom-input {
  --background: white;
  --color: #333333;
  --placeholder-color: #666666;
  --border-radius: 8px;
  --padding-start: 15px;

  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.02);
  margin-bottom: 12px;
}

.btn-eye {
  font-size: 20px;
  margin-right: 5px;
  color: #666666;
}

.error-msg {
  font-size: 13px;
  color: #d30a0a;
  margin: 0 0 12px 5px;
}

.botones {
  margin-top: 20px;
}

.btn-principal {
  --background: #87ab69;
  --background-hover: #49752c;
  --color: white;
  --border-radius: 8px;
  font-weight: bold;
  height: 48px;
}

.btn-secundario {
  --color: #007bff;
  margin-top: 15px;
  font-size: 14px;
}
