<div id="aside-nav-top">
    <h3>Selecciona tu lenguaje:</h3>
    <button class="close-btn" id="close-aside">&times;</button>
</div>
<nav style="margin-top: 60px;">
    <ul class="nav-bar"  style="list-style: none; padding: 0;">
        <li><a href="../pages/list-of-teachers.html?language=1">Python</a></li>
        <li><a href="../pages/list-of-teachers.html?language=2">Java</a></li>
        <li><a href="../pages/list-of-teachers.html?language=3">C</a></li>
        <li><a href="../pages/list-of-teachers.html?language=4">Assembly</a></li>
    </ul>
</nav>
