<footer class="site-footer">
    <div class="left">
        <img src="../images/logo.png" alt="Logo">
    </div>

    <div class="right">
        <div class="up">
            <div class="text">
                <p>Codify texto</p>
            </div>
            <div class="social media">
                <p>Contacta con nosotros</p>
                <nav>
                    <ul class="social-media-list">
                        <li><a href="#">
                            <img src="../images/perfil.jpg" alt="Instagram">
                        </a></li>
                        <li><a href="#">
                            <img src="../images/perfil.jpg" alt="X">
                        </a></li>
                        <li><a href="#">
                            <img src="../images/perfil.jpg" alt="Facebook">
                        </a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="bottom">
            <p>© Codify 2026</p>
        </div>
    </div>

</footer>
