<a class="home-btn" id="homeLink" href="../pages/home-public.html">
    <img src="../images/logo.png" alt="Logo">
</a>

<section>
    <nav>
        <ul class="nav-bar">
            <li><a href="../pages/list-of-teachers.html">Python</a></li>
            <li><a href="../pages/list-of-teachers.html">Java</a></li>
            <li><a href="../pages/list-of-teachers.html">C</a></li>
            <li><a href="../pages/list-of-teachers.html">Assembly</a></li>
        </ul>
    </nav>
</section>

<div class="profile">
    <a href="#" id="profileLink" class="profile-link">
        <img src="../images/perfil.jpg" alt="perfil">
    </a>
    <span class="username" id="headerUsername">Invitado</span>
</div>
