<a class="home-btn" href="../pages/home.html">
    <img src="../images/logo.png" alt="Logo">
</a>

<section>
    <nav>
        <ul class="nav-bar">
            <li><a href="../pages/list-of-teachers.html">Python</a></li>
            <li><a href="../pages/list-of-teachers.html">Java</a></li>
            <li><a href="../pages/list-of-teachers.html">C</a></li>
            <li><a href="../pages/list-of-teachers.html">Assembly</a></li>
        </ul>
    </nav>
</section>

<div class="profile">
    <a href="../pages/profile.html" class="profile-link">
        <img src="../images/perfil.jpg" alt="perfil">
    </a>
    <span class="username">Invitado</span>
    <a href="../pages/sign-in.html" class="login-btn">LOG IN</a>
</div>
