<a class="home-btn" href="../pages/index.html">
    <img src="../images/logo.jpg" alt="Logo">
</a>

<section>
    <h2>Selecciona tu lenguaje:</h2>
    <nav>
        <ul class="nav-bar">
            <li><a href="../pages/python.html">Python</a></li>
            <li><a href="#">Java</a></li>
            <li><a href="#">C</a></li>
            <li><a href="#">Assembly</a></li>
        </ul>
    </nav>
</section>

<div class="profile">
    <a href="../pages/profile.html" class="profile-link">
        <img src="../images/perfil.jpg" alt="perfil">
    </a>
    <span class="username">Invitado</span>
    <a href="../pages/login.html" class="login-btn">LOG IN</a>
</div>
