.site-footer {
    display: flex;
    width: 100%;
    background-color: #87ab69;
}

.site-footer .left {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.site-footer .left img {
    max-width: 80%;
    height: auto;
}

.site-footer .right {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.site-footer .up {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.site-footer .bottom {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-media-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px;
}

.social-media-list li {
    display: flex;
    align-items: center;
}

.social-media-list a {
    display: flex;
}

.social-media-list img {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid white;
}
