footer {
    display: flex;
    justify-content: space-around;
    background-color: #87ab69;
    color: white;
    text-align: center;
    padding: 15px;
    align-items: center;
}

footer img{
    display: block;
    height: 90px;
    width: auto;
}

footer p{
    align-content: start;
}
