body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    padding: 20px;
    background-color: #ecf0f1;
}

.bloque_inicio {
    display: flex;
    align-items: start;
    gap: 40px;
    padding: 20px;
}

.imagen_main img {
    height: 350px;
    width: auto;
}

.texto_main {
    flex: 1;
    line-height: 1.8;
}

.profesores-mejor-valorados {
    padding: 20px;
}

.profesores-mejor-valorados h2 {
    margin-bottom: 15px;
}

.lista-profesores {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #87ab69;
    border-radius: 10px;
}

.about-us {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 40px;
}

.about-us-intro {
    margin-left: -20px;
    margin-right: -20px;
    background-color: #595f60;
    color: white;
    text-align: center;
}

.about-us-title {
    font-size: 30px;
    font-weight: bold;
}

.history {
    display: flex;
    gap: 20px;
}

.history-text {
    flex: 7;
    padding: 20px;
    background: #f5f5f5;
    border-radius: 12px;
}

.history-media {
    flex: 3;
    background: #ddd;
    border: 2px dashed #999;
    border-radius: 12px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact {
    padding: 20px;
    background: #ddd;
    border-radius: 12px;
    text-align: center;
    line-height: 1.2;
}
