body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 30px;
}

.contenedor h1 {
    font-size: 40px;
}

.contenedor img {
    height: 180px;
    width: auto;
    border-radius: 10px;
    margin-bottom: 30px;
}

.formulario {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 700px;
    gap: 0;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;
    width: 100%;
}

.form-group label {
    margin: 0;
    font-size: 17px;
    font-weight: bold;
}

.formulario-input {
    width: 100%;
    box-sizing: border-box;
    height: 40px;
    padding: 8px 40px 8px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.field-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

.toggle-btn {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
}
.toggle-btn:hover {
    color: #000;
}

.nombre-apellidos {
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.botones {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 700px;
    margin-top: 20px;
}

.botones button {
    background: #87ab69;
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.botones button:hover {
    background: #49752c;
}

.botones a {
    text-decoration: none;
    color: #007bff;
    font-size: 15px;
}

.botones a:hover {
    text-decoration: underline;
}

.error-msg{
    /*display: none;*/      /* para activar/desactivar */
    font-size: 15px;
    color: red;
    margin: 0;
}
