body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


main {
    flex: 1;
    padding: 20px;
    background-color: #ecf0f1;
}

.bloque_inicio {
    display: flex;
    align-items: start;
    gap: 40px;
    padding: 20px;
}

.imagen_main img {
    height: 350px;
    width: auto;
}

.texto_main {
    align-content: start;
    flex: 1;
    line-height: 1.8;
}



.profesores-mejor-valorados {
    padding: 20px;
}

.profesores-mejor-valorados h2 {
    margin-bottom: 15px;
}

.lista-profesores {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
